<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Welcome to API Call Tracker</title>
	<base href="/" />
	<link rel="icon" type="image/ico" href="img/logo-modal.png" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="css/animate.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/mystyle-coman.css" rel="stylesheet" />
	<link href="css/admin-style.css" rel="stylesheet" />
	<link href="css/datatables.min.css" rel="stylesheet" />
	<link href="css/jquery.dataTables.css" rel="stylesheet" />
	<link href="css/rowReorder.dataTables.css" rel="stylesheet" />
	<link href="css/media.css" rel="stylesheet" />
	<link href="css/c3.min.css" rel="stylesheet" />
	<link href="css/plugins/summernote/summernote.css" rel="stylesheet">
	<link href="css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
	<style>
		.mytoken .ibox-content {
			background-image: linear-gradient(to right, #131b4c 0%, #134270 100%) !important;

		}

		.mytoken h3 {
			color: #fff;
		}

		.mytoken small {
			color: #fff;
		}

		.enabled-user {
			color: rgb(41, 165, 41);
		}

		.disable-user {
			color: rgb(206, 30, 30);
		}

		.error {
			text-transform: inherit;
		}

		label.error {
			color: rgb(198, 45, 45);
		}

		.form-group label {
			font-size: 14px;
		}
	</style>
	<script src="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/utils.js"></script>
</head>

<body>