<%- include('../partials/header')%>
    <style>
        .iti__country-list {
            width: 428px;
        }
    </style>
     
    <div id="wrapper">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="history">
                            <!-- <select id="select_chartType">
                                <option>Select Chart Type</option>
                                <option value="line">Line</option>
                                <option value="bar">Bar</option>
                                <option value="pie">Pie</option>
                            </select> -->
                            <h2 class="text-black">Destination Chart</h2>
                            <div class="pie"></div>
                            <h2 class="text-black">IP Chart</h2>
                            <div class="pie1"></div>
                            <div class="box-heading">
                                <h2 id="tracking_report_company" style="text-transform:capitalize ;">Tracking Report - </h2>
                                <h2 id="tracking_report">Date - </h2>
                            </div>
                            <div class="table-responsive coman-table" id="owner-detail-btn">
                                <table class="table dataTables-example" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Company Code</th>
                                            <th>Credential Code</th>
                                            <th>Referral URL</th>
                                            <th>Search ID</th>
                                            <th>IP</th>
                                            <th>Origin</th>
                                            <th>Destination</th>
                                            <th>Class</th>
                                            <th>Currency</th>
                                            <th>Adults</th>
                                            <th>Child</th>
                                            <th>Infant</th>
                                            <th>Date</th>
                                            
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/admin/script.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <!-- d3 and c3 charts -->
    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>
    <!-- Date range picker -->
    <script src="js/daterangepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script type="text/javascript">
       var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };
        let date = getUrlParameter('date');
        let companyCode = getUrlParameter('companyCode');

        $('#tracking_report').append(new Date(date).toDateString())
        $('#tracking_report_company').append(companyCode)
        let myData = {}
        let chartType = 'line'
        let initiateChart
        let chartData = []
        let totalHits = []
        let myData1 = {}
        let chartType1 = 'line'
        let initiateChart1
        let chartData1 = []
        let totalHits1 = []
        $('#select_chartType').change(function(){
            chartType = this.value
            chart = initiateChart.destroy()
            for (const prop of Object.getOwnPropertyNames(myData)) {
                delete myData[prop];
            }
            loadChartData()
        })
        
        function loadChartData(){
            $.ajax({
                url:`companyCode.chartData?code=${companyCode}&startDate=${date}&endDate=${date}`,
                type:'GET',
                success:(data)=>{
                    data.data.map((x)=>{
                        chartData.push(x._id)
                        totalHits.push(x.totalHits)
                    })
                    myData.x = 'x'
                    myData.columns = [];
                    myData.type = chartType;
                    chartData.splice(0, 0, 'x');
                    totalHits.splice(0, 0, 'Hits');
                    myData.columns.push(totalHits)
                    myData.columns.push(chartData)
                    myData.colors = {
                        Hits: '#f85353',
                        // Resale: '#f85353',
                        // Gift: '#d5d731'
                    }
                    initiateChart = c3.generate({
                        bindto: '.pie',
                        data: myData,
                        axis: {
                            x: {
                                type: 'categorized',
                            },
                            y: {
                                label: 'Hits'
                                
                            }
                        }
                    })
                },
                error: (err)=>{
                    toastr.error(err.responseJSON.msg, 'Error')
                }
            })
        }
        function loadIPChartData(){
            $.ajax({
                url:`companyCode.chartDataIP?code=${companyCode}&startDate=${date}&endDate=${date}`,
                type:'GET',
                success:(data)=>{
                    data.data.map((x)=>{
                        chartData1.push(x._id)
                        totalHits1.push(x.totalHits)
                    })
                    myData1.x = 'x'
                    myData1.columns = [];
                    myData1.type = chartType1;
                    chartData1.splice(0, 0, 'x');
                    totalHits1.splice(0, 0, 'Hits');
                    myData1.columns.push(totalHits1)
                    myData1.columns.push(chartData1)    
                    initiateChart1 = c3.generate({
                        bindto: '.pie1',
                        data: myData1,
                        axis: {
                            x: {
                                type: 'categorized',
                            },
                            y: {
                                label: 'Hits'
                                
                            }
                        }
                    })
                },
                error: (err)=>{
                    toastr.error(err.responseJSON.msg, 'Error')
                }
            })
        }
        
       
        
        $(document).ready(function () {
            loadChartData()
            loadIPChartData()
            loadAdminDataTable()

            $(document).on('click', '.dropdown-menu li', function (e) {
                e.stopPropagation();
            }); $(document).on('click', '.dropdown-menu li  option', function (e) {
                e.stopPropagation();
            });
            $('#myDropdown .dropdown-menu').on({
                "click": function (e) {
                    e.stopPropagation();
                }
            })
            toastr.options = {
                closeButton: true,
                preventDuplicates: true,
                progressBar: true,
            }

        })
        function getUrl(date) {
            let url = `/api/v1/admin/tracker-report.byDate/?${date}`
            return url
        }

        function loadAdminDataTable() {
            let currentDate = moment().utc().toISOString()
            let search = $('#select_company_code').val()
            let start = $('#startDate').val()
            let end = $('#endDate').val()
            let startDate = ''
            let endDate = ''

            $('#startDate').change(function () {
                start = this.value
            })

            $('#endDate').on('change', function () {
                end = this.value
            })

            if (start && end) {
                startDate = moment(start, 'DD/MM/YYYY').format("YYYY-MM-DD");
                endDate = moment(end, 'DD/MM/YYYY').format("YYYY-MM-DD");
                if (!(new Date(startDate).getTime() <= new Date(endDate).getTime()) || new Date(startDate).getTime() >= new Date(moment()).getTime()) {
                    toastr.error('Selected date range is invalid.', 'Error')
                    $('#filter-name-role, #filter-name-status, #filter-lastMonth').addClass('hide')
                    return;
                }
            }


            $('#select_company_code').on('change', function () {
                search = this.value
            });



            let generateUrl = getUrl(search, startDate, endDate)
            // Initiate datatable

            $('.dataTables-example').DataTable({
                destroy: true,
                "search": true,
                "processing": true,
                "filter": true,
                "orderMulti": false,
                'serverSide': true,
                "ajax": {
                    "url": `tracker-report.byDate?companyCode=${companyCode}&date=${date}`,
                    "type": "GET",
                    "datatype": "json",
                },
                responsive: true,
                "columns": [
                    {
                        render(data, type, row, meta) {
                            let text = `<div style="text-transform: capitalize;">${row.companyCode}</div>`
                            return text
                        }
                    },
                    { data: 'credentialCode' },
                    { data: 'referralUrl' },
                    { data: 'searchId' },
                    { data: 'IP' },
                    { data: 'origin' },
                    { data: 'destination' },
                    { data: 'classOfService' },
                    { data: 'currency' },
                    { data: 'adults' },
                    { data: 'child' },
                    { data: 'infants' },
                    {
                        mRender(data, type, row, meta) {
                            return moment(row.createdAt).format('DD/MM/YYYY HH:mm:ss')
                        },
                    },



                ]
            })

        }


        $('.input-group.date').datepicker(
            { format: "dd.mm.yyyy" }
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );
        $('#data_5 .input-daterange').datepicker({
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });



        function filterApi() {

            if ($('#admin-status').val() == 'true') {
                $('#filter-name-status').removeClass('hide')
                $('#filter-name-status').text('Active')
                $('#filter-name-status').append('<a onclick="resetStatusFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
            if ($('#admin-status').val() == 'false') {
                $('#filter-name-status').removeClass('hide')
                $('#filter-name-status').text('Inactive')
                $('#filter-name-status').append('<a onclick="resetStatusFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }

            if ($('#select_company_code').val() !== '') {
                $('#filter-name-role').removeClass('hide')
                $('#filter-name-role').text($('#select_company_code').val())
                $('#filter-name-role').append('<a onclick="resetRoleFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
            if ($('#startDate').val() !== '' && $('#endDate').val() !== '') {
                let start = $('#startDate').val()
                let end = $('#endDate').val()
                $('#filter-lastMonth').removeClass('hide')
                $('#filter-lastMonth').text(`${start} - ${end}`)
                $('#filter-lastMonth').append('<a onclick="resetDateFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
        }

        function resetDateFilter() {
            $('#startDate, #endDate, #last-30-days').val('')
            $('#filter-lastMonth').addClass('hide')
            loadAdminDataTable()
        }

        function resetRoleFilter() {
            $('#select_company_code').val('')
            $('#filter-name-role').addClass('hide')
            loadAdminDataTable()

        }


        function resetFilter() {
            $('#startDate').attr('disabled', false)
            $('#endDate').attr('disabled', false)
            $('#select_company_code').val('')
            $('#startDate').val('')
            $('#endDate').val('')
            $('#filter-name-role, #filter-name-status, #filter-lastMonth').addClass('hide')
            loadAdminDataTable()

        }

        function closeFilter() {
            $('.dropdown-filter').removeClass('open')

        }

        $('#modal-delete').on('show.bs.modal', function (e) {
            let adminId = $(e.relatedTarget).data('id')
            let roleName = $(e.relatedTarget).data('role')
            $('#delete-admin').off().on('click', function () {

                $.ajax({
                    url: `${window.location.origin}/api/v1/admin/delete-admin/${adminId}`,
                    type: 'DELETE',
                    success: (data) => {
                        $('#modal-success').modal('show')
                        $('.datatables-example').DataTable().ajax.reload();
                        $('#modal-success').on('hidden.bs.modal', function () {

                        })
                    },
                    error: (err) => {
                        toastr.error(err.responseJSON.msg)
                    }
                })
            })
        })
        $('#modal-disable-success').on('show.bs.modal', function (e) {
            let adminId = $(e.relatedTarget).data('id')
            $('#disable-admin').off().on('click', function () {

                $.ajax({
                    url: `${window.location.origin}/api/v1/admin/disable-admin/${adminId}`,
                    type: 'PATCH',
                    success: (data) => {
                        $('#edit-Disable-success').modal('show')
                        loadAdminDataTable()
                    },
                    error: (err) => {
                        toastr.error(err.responseJSON.msg)
                    }
                })
            })
        })
        $('#modal-enable-success').on('show.bs.modal', function (e) {
            let adminId = $(e.relatedTarget).data('id')
            $('#enable-admin').off().on('click', function () {

                $.ajax({
                    url: `${window.location.origin}/api/v1/admin/enable-admin/${adminId}`,
                    type: 'PATCH',
                    success: (data) => {
                        $('#edit-Enable-success').modal('show')
                        loadAdminDataTable()
                    },
                    error: (err) => {
                        toastr.error(err.responseJSON.msg)
                    }
                })
            })
        })
        let roleId
        var myGroup = $('.myGroup1');
        myGroup.on('show.bs.collapse', '.collapse', function () {
            myGroup.find('.collapse.in').collapse('hide');
        });

        $('.alert .close').click(function () {
            $('#error-msg1').addClass('hide');
        });
</script>
    <div class="modal coman-modal fade" id="modal-edit-success" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <h2>Are you sure you want to edit the admin ?</h2>
                <div class="clearfix logout">
                    <button type="submit" class="btn   btn-default m-r-sm" data-dismiss="modal">No</button>
                    <button type="submit" id="update_admin_data" class="btn btn-primary" data-toggle="modal"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="edit-admin-success" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2> Admin Edited Successfully !!</h2>
            </div>
        </div>
    </div>

    </body>

    </html>